footer.footer
    .footer__copyright &copy; 2020 <a href="https://cemderin.com">Cem Derin</a> & Contributors, <a href="/impressum.html">Impressum</a>
    .footer__edit
        a.footer__edit-link(href="https://github.com/cemderin/istschonausgangssperre.de/tree/master/src/markdown" + srcPath) Edit this page